# Xcode / Swift
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (falls du sie mal nutzt)
Pods/
Carthage/Build/
